<!DOCTYPE html>
<html>
  <head>
    <title>Powermouse</title>
    <meta name=“description” content=“Make Powermouse your powermouse”>
    <meta name=“keywords” content=“Web Design, Web app development, Ruby on Rails, CSS, HTML, JavaScript”>
    <meta name=“author” content=“Powermouse”>
    <link rel="shortcut icon" href="https://res.cloudinary.com/antonioist/image/upload/v1605685818/powermouse512v2_g8eyvz.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
